
body {
    padding-top: 95px;
    background-color: rgb(163, 162, 162);
    color: white;
}




#main-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
  /* width: 50%; */
}

#content{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navbar{
  padding-right: 20px;
}

#image-click{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.col-sm-6:hover #image-click{
  opacity: 0.3;
}


.container1:hover #image-click{
  opacity: 0.3;
}

.container1{
  padding-top: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-stretch: wider;
  margin-bottom: 1%;
}

.col-sm-2:hover #image-click{
  opacity: 0.3;
}

.navbar-brand:hover{
  background-color: whitesmoke;
  height: 60px;
}

input[type=checkbox].css-checkbox{ 
  display: none; 
}

input[type=checkbox].css-checkbox1{ 
  display: none; 
}

input[type=checkbox].css-checkbox2{ 
  display: none; 
}

input[type=checkbox].css-checkbox3{ 
  display: none; 
}

input[type=checkbox].css-checkbox4{ 
  display: none; 
}

input[type=checkbox].css-checkbox5{ 
  display: none; 
}

input[type=checkbox].css-checkbox6{ 
  display: none; 
}

input[type=checkbox].css-checkbox7{ 
  display: none; 
}

.css-label{
    /* padding-left: 20px; */
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url("../Images/cheddar_cheese.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.css-label1{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/white_cheese.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.css-label2{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/lettuce.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.css-label3{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/tomato.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.css-label4{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/cucumber.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.css-label5{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/jalapeno.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.css-label6{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/turkey_meat.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.css-label7{
  /* padding-left: 20px; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../Images/bacon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
 background-position: 0 0;
 border: 5px solid lightgray;
 opacity: 0.3;
}

input[type=checkbox].css-checkbox1:checked + label.css-label1 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 input[type=checkbox].css-checkbox2:checked + label.css-label2 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 input[type=checkbox].css-checkbox3:checked + label.css-label3 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 input[type=checkbox].css-checkbox4:checked + label.css-label4 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 input[type=checkbox].css-checkbox5:checked + label.css-label5 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 input[type=checkbox].css-checkbox6:checked + label.css-label6 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 input[type=checkbox].css-checkbox7:checked + label.css-label7 {
  background-position: 0 0;
  border: 5px solid lightgray;
  opacity: 0.3;
 }

 #main{
   color: black;
 }

 #main:hover{
  /* background-color: lightgray; */
  color: black;
}

#main-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-stretch: wider;
}

h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-stretch: wider;
}

.button1{
  background-color: dimgray;
  color: antiquewhite;
}

#pro-icon{
  color: black;
}

.navbar{
  background-color:#D4D7FE;
  color: black;
}

#pro-icon:hover{
  color: gray;
}

.cart a{
  height: 35px;
  text-decoration: none;
}

#profile-container{
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #787878;
}

.modal-content{
  color: black;
}

#myDIV{
  display: none;
}

#profile-image{
  align-content: center;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

/* Style the list */
ul.breadcrumb {
  padding: 8px 10px;
  list-style: none;
  background-color: #eee;
  color: black
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 1px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}

#profileBR{
  display: none;
}

#cart-proto{
  height: 80%;
  width: 80%;
  padding-left: 23%;
}